development:
  cookie_secret: sample
  oauth_key: anonymous
  oauth_secret: anonymous

test:
  cookie_secret: sample
  oauth_key: anonymous
  oauth_secret: anonymous

staging:
  cookie_secret: sample
  oauth_key: anonymous
  oauth_secret: anonymous

production:
  cookie_secret: sample
  oauth_key: anonymous
  oauth_secret: anonymous
  google_analytics_id: UA-12345678-9

