development:
  cookie_secret: sample
  oauth_key: anonymous
  oauth_secret: anonymous

staging:
  cookie_secret: sample
  oauth_key: anonymous
  oauth_secret: anonymous

production:
  cookie_secret: sample
  oauth_key: anonymous
  oauth_secret: anonymous

