<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>ODK Build</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
  </head>
  <body>
    <div style="height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 2999; opacity: 0.5;" class="jqmOverlay"></div>
    <div class="modal shown">
      <h3>Success!</h3>
      <div class="modalContents">
        <p>You may now either close this window or <a href="<%= @aggregate_instance_uri %>">visit
           your Aggregate instance</a> to check up on your new form.</p>
      </div>
    </div>
  </body>
</html>
