<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ODK Build</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css"/>

  <% unless ConfigManager['google_analytics_id'].nil? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= ConfigManager['google_analytics_id'] %>']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
  </head>
  <body>
    <div class="loadingScreen">
      <div class="loadingMessage">
        <div class="spinner"><div class="spinnerInner"></div></div>
        <h1>Loading <strong>ODK Build</strong></h1>
        <p class="status">loading application...</p>
      </div>
    </div>
    <div class="preloadImages">
      <img src="/images/control_slice.png"/>
      <img src="/images/type_icons.png"/>
      <img src="/images/type_icons_small.png"/>
    </div>
    <% unless ConfigManager['survey_url'].nil? %>
      <div id="surveyToast" class="toast">
        <h2>Help us out?</h2>
        <p>We're trying to improve ODK Build, and we would really like to know what you think. It will only take a couple of minutes.</p>
        <a id="launchSurvey" href="<%= ConfigManager['survey_url'] %>" target="_blank">Sure!</a>
        <a id="dismissSurvey" href="#">No thanks</a>
      </div>
    <% end %>
    <div id="toast" class="toast"></div>
    <div class="header">
      <h1>Untitled Form</h1>
      <input type="text" id="renameFormField"/>
      <a id="editTitleLink" href="#edit_title" title="Rename this form">Rename</a>

      <ul class="menu">
        <li>
          <span>File</span>
          <ul class="submenu">
            <li><a href="#newFormDialog" class="destructive newLink">New Form</a></li>
            <li><a href="#openDialog" rel="modal" class="authRequired">My Forms</a></li>
            <li class="divider"></li>
            <li><a href="#saveForm" class="authRequired saveLink">Save</a></li>
            <li><a href="#saveAsDialog" rel="modal" class="authRequired">Save Form As...</a></li>
            <li class="divider"></li>
            <li><a href="#saveLocally" class="saveLocallyLink">Save Form to File...</a></li>
            <li><a href="#loadLocallyDialog" rel="modal" class="destructive">Load Form from File...</a></li>
            <li class="divider"></li>
            <li><a href="#aggregateDialog" id="aggregateLink" rel="modal">Upload Form to Aggregate...</a></li>
            <li><a href="#exportDialog" id="exportLink" rel="modal">Export to XML...</a></li>
            <li><a href="#xlsformExport" id="xlsformLink">Export to XLSForm</a></li>
          </ul>
        </li>
        <li>
          <span>Edit</span>
          <ul class="submenu">
            <li class="disabled"><a href="#cut">Cut</a></li>
            <li class="disabled"><a href="#copy">Copy</a></li>
            <li class="disabled"><a href="#paste">Paste</a></li>
            <li class="divider"></li>
            <li class="disabled"><a href="#undo">Undo</a></li>
            <li class="disabled"><a href="#redo">Redo</a></li>
            <li class="divider"></li>
            <li><a href="#translationsDialog" class="manageTranslations" rel="modal">Manage Translations&hellip;</a></li>
            <li><a href="#formPropertiesDialog" class="formProperties" rel="modal">Form Properties&hellip;</a></li>
          </ul>
        </li>
        <li>
          <span>View</span>
          <ul class="submenu">
            <li class="infoText">Displayed Language</li>
            <li>
              <ul class="displayLanguages">
                <li class="radio selected"><a href="#" rel="eng"><span class="icon"></span>English</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="checkbox"><a href="#toggleCollapsedMode" class="toggleCollapsed"><span class="icon"></span>Collapse Questions</a></li>
          </ul>
        </li>
        <li>
          <span>Help</span>
          <ul class="submenu">
            <li class="checkbox selected"><a href="#toggleInformation" class="toggleInformation"><span class="icon"></span>Show Information</a></li>
            <li class="divider"></li>
            <li><a href="#aboutDialog" rel="modal">About ODK Build...</a></li>
          </ul>
        </li>
      </ul>

      <div class="accountStatus"></div>
    </div>
    <div class="mainWrapper">
      <div class="toolPalette">
        <div class="icon addNewIcon"></div>
        <h3>Add new</h3>
        <ul>
          <li><a class="toolButton inputText" rel="inputText">Text</a></li>
          <li><a class="toolButton inputNumeric" rel="inputNumeric">Numeric</a></li>
          <li><a class="toolButton inputDate" rel="inputDate">Date/Time</a></li>
          <li><a class="toolButton inputTime" rel="inputTime">Time</a></li>
          <li><a class="toolButton inputLocation" rel="inputLocation">Location</a></li>
          <li><a class="toolButton inputMedia" rel="inputMedia">Media</a></li>
          <li><a class="toolButton inputBarcode" rel="inputBarcode">Barcode</a></li>
          <li><a class="toolButton inputSelectOne" rel="inputSelectOne">Choose One</a></li>
          <li><a class="toolButton inputSelectMany" rel="inputSelectMany">Select Multiple</a></li>
          <li class="separator"></li>
          <li><a class="toolButton metadata" rel="metadata">Metadata</a></li>
          <li class="separator"></li>
          <li><a class="toolButton group" rel="group">Group</a></li>
        </ul>
      </div>
      <div class="workspaceScrollArea">
        <div class="workspace"></div>
      </div>
      <div class="propertiesPane">
        <h3>Properties</h3>
        <ul class="propertyList">
          <li class="emptyData">First add a control, then select it to view its properties here.</li>
        </ul>
      </div>
      <div class="helpPane">
        <div class="helpPane-contents">
          <h3><span class="helpPane-title">Information</span> <span class="helpPane-subtitle"></span></h3>
          <div class="helpItem helpNone">
            <p>Select something to learn more about it here.</p>
          </div>
          <div class="helpItem helpBasic">
            <p class="helpBasic-description"></p>
            <ul class="helpBasic-tips"></ul>
          </div>
          <div class="helpItem helpDrag">
            <ul>
              <li>You can hold <span class="key">Ctrl</span> (Win) or <span class="key">Option</span> (Mac) to drop a clone instead of moving the original.</li>
              <li>You can drag between browser tabs to copy or move questions between ODK Build documents.</li>
              <li>You can also hold <span class="key">Shift</span> while clicking on questions to select a whole range, or <span class="key">Ctrl</span> (Win) or <span class="key">Cmd</span> (Mac) to select multiple individual questions.</li>
            </ul>
          </div>
          <div class="helpItem helpMultiselect">
            <ul>
              <li>You can drag all selected controls at once.</li>
              <li>While dragging, you can hold <span class="key">Ctrl</span> (Win) or <span class="key">Option</span> (Mac) to drop a clone instead of moving the original.</li>
              <li>You can drag between browser tabs to copy or move questions between ODK Build documents.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="dragIcon">
      <div class="miniControl"></div>
      <div class="count"></div>
    </div>

    <div class="modal narrowModal signinDialog">
      <h3>Sign in</h3>
      <div class="modalContents">
        <p>You must have an account in order to create forms on ODK Build.</p>

        <div class="errorMessage"></div>

        <form>
          <label for="signin_username">Username<span class="emailHint">/Email</span></label>
          <input type="text" id="signin_username" name="username" />
          <div class="signin_section">
            <label for="signin_password">Password</label>
            <input type="password" id="signin_password" name="password" />
          </div>
          <div class="signup_section">
            <label for="signup_password_confirm">Password (confirm)</label>
            <input type="password" id="signup_password_confirm" name="password_confirm" />
            <label for="signup_email">Email</label>
            <input type="text" id="signup_email" name="email" />
          </div>
          <p><a href="#forgotPassword" class="togglePasswordLink">Forgot your password?</a></p>
          <p><a href="#signUp" class="toggleSignupLink">Don't yet have an account?</a></p>
        </form>
      </div>
      <div class="offlineNotice">
        Tired of logging in? Did you know there is a <a href="https://github.com/getodk/build/releases/latest" rel="external">downloadable version of ODK Build available?</a> Simply save your forms to file from here using the File menu and you can open them there.
      </div>
      <div class="modalButtonContainer">
        <a class="modalButton signinLink" href="#signin">Sign in</a>
        <a class="modalButton signupLink hide" href="#signin">Sign up</a>
        <a class="modalButton passwordLink hide" href="#signin">Reset password</a>
        <a class="modalButton jqmClose" href="#close">Cancel</a>
      </div>
    </div>

    <div class="modal narrowModal accountDialog">
      <h3>My account</h3>
      <div class="modalContents">
        <form>
          <div class="errorMessage"></div>

          <label for="account_email">Email Address</label>
          <input type="text" id="account_email" name="email" />

          <p>Fill these out only if you wish to change your password:</p>
          <label for="account_old_password">Old Password</label>
          <input type="password" id="account_old_password" name="old_password" />
          <label for="account_password">New Password</label>
          <input type="password" id="account_password" name="password" />
          <label for="account_password_confirm">New Password (confirm)</label>
          <input type="password" id="account_password_confirm" />
        </form>
      </div>
      <div class="modalButtonContainer">
        <a class="modalButton updateAccountLink acceptLink" href="#update">Update</a>
        <a class="modalButton jqmClose" href="#close">Cancel</a>
      </div>
    </div>

    <div class="modal narrowModal openDialog">
      <h3>My Forms</h3>
      <div class="modalContents">
        <form>
          <div class="errorMessage"></div>

          <p>Select a form to open:</p>
          <ul class="formList"></ul>
        </form>
      </div>
      <div class="modalButtonContainer">
        <a class="modalButton openLink acceptLink" href="#open">Open</a>
        <a class="modalButton jqmClose" href="#close">Cancel</a>
      </div>
    </div>

    <div class="modal narrowModal saveAsDialog">
      <h3>Save Form As</h3>
      <div class="modalContents">
        <form>
          <div class="errorMessage"></div>

          <label for="saveAs_name">Form Name</label>
          <input type="text" id="saveAs_name" name="name" />
        </form>
      </div>
      <div class="modalButtonContainer">
        <a class="modalButton saveAsLink acceptLink" href="#save">Save</a>
        <a class="modalButton jqmClose" href="#close">Cancel</a>
      </div>
    </div>

    <div class="modal narrowModal loadLocallyDialog">
      <h3>Load Form from File</h3>
      <p>You must choose an ODK Build form (.odkbuild) file</p>
      <div class="modalContents">
        <form>
          <div class="errorMessage"></div>

          <label for="loadFile_name">File to Load</label>
          <input type="text" id="loadFile_name" name="name" readonly='readonly' accept=".odkbuild" />
          <a href="#chooseFile" id="loadFileChooseLink">Choose</a>
        </form>
      </div>
      <div class="modalButtonContainer">
        <a class="modalButton loadFileLink acceptLink" href="#load">Load</a>
        <a class="modalButton jqmClose" href="#close">Cancel</a>
      </div>
    </div>

    <div class="modal exportDialog">
      <h3>Export</h3>
      <div class="modalContents">
        <p class="warningMessage validationWarningMessage">
          The form you are exporting currently contains errors. If you do
          not correct these errors, this form may not function as expected.</p>
        <h4>Output XML</h4>
        <div class="exportCodeContainer">
          <pre></pre>
        </div>
        <iframe id="downloadFrame"></iframe>
      </div>
      <div class="modalButtonContainer">
        <a class="modalButton downloadLink" href="#download">Download</a>
        <a class="modalButton jqmClose" href="#close">Done</a>
      </div>
    </div>

    <div class="modal narrowModal formPropertiesDialog">
      <h3>Form Properties</h3>
      <div class="modalContents">
        <form>
          <div class="errorMessage"></div>

          <label for="formProperties_title">Title on Device</label>
          <input type="text" id="formProperties_title" name="title" />

          <label for="formProperties_instanceName">Instance Name</label>
          <input type="text" id="formProperties_instanceName" name="instanceName" />
          <p>You can use calculated expressions to name submissions based on submission data. <a rel="external" href="https://docs.getodk.org/form-question-types/">More Information</a>.</p>

          <label for="formProperties_publicKey">Public Key</label>
          <input type="text" id="formProperties_publicKey" name="publicKey" />
          <p>The public key is used to encrypt (but not decrypt) forms. You can learn about generating and using one <a rel="external" href="https://docs.getodk.org/encrypted-forms/">here</a>.</p>

          <label for="formProperties_submissionUrl">Submission URL</label>
          <input type="text" id="formProperties_submissionUrl" name="submissionUrl" />
          <p>Directs your submissions somewhere other than the Aggregate that supplied the form. This is the ODK Aggregate website url with <code>Aggregate.html</code> replaced by <code>submission</code>.</p>
        </form>
      </div>
      <div class="modalButtonContainer">
        <a class="modalButton jqmClose" href="#close">Done</a>
      </div>
    </div>

    <div class="modal narrowModal translationsDialog">
      <h3>Translations</h3>
      <div class="modalContents">
        <h4>Active languages</h4>
        <p class="translationNone">(none)</p>
        <ul class="translationList"></ul>

        <h4>Add a new language</h4>
        <input type="text" class="translationNewName"/>
        <a class="addTranslation" href="#addTranslation">Add Translation</a>
      </div>
      <div class="modalButtonContainer">
        <a class="modalButton jqmClose" href="#close">Done</a>
      </div>
    </div>

    <div class="modal optionsEditorDialog">
      <h3>Options Editor</h3>
      <div class="modalContents">
        <h4>Presets</h4>
        <label class="presetsLabel" for="optionsPresetsSelect">Choose a Preset:</label>
        <select id="optionsPresetsSelect" class="presetsSelect"></select>
        <div class="presetsButtonContainer">
          <a class="modalButton loadPreset" href="#load">Load Preset</a>
          <a class="modalButton deletePreset" href="#delete">Delete Preset</a>
          <a class="modalButton savePreset" href="#save">Save Below to Preset...</a>
        </div>

        <h4>Options</h4>
        <div class="optionsGridEditor"></div>

        <p>
          <strong>Tip:</strong> you can copy cells from a spreadsheet (eg Excel, Google
          Sheets, etc.) and paste them into the table above to bulk-insert data.
        </p>
      </div>
      <div class="modalButtonContainer">
        <a class="modalButton applyOptions" href="#apply">Apply</a>
        <a class="modalButton jqmClose" href="#cancel">Cancel</a>
      </div>
    </div>

    <div class="modal narrowModal aggregateDialog">
      <h3>Upload Form to Aggregate</h3>
      <div class="modalContents">
        <div class="errorMessage"></div>
        <p>You can use this tool to upload your form to any Aggregate instance publicly
          visible on the Internet.</p>

        <h4>Aggregate Instance URI</h4>
        <p>
          <select class="aggregateInstanceProtocol">
            <option>https</option>
            <option>http</option>
          </select>://<input type="text" class="aggregateInstanceName"/></p>
        <p>Examples include <code>https://my-aggregate.appspot.com</code> if you're on
          Google App Engine, or <code>http://216.58.193.110:8080/ODKAggregate</code> if
          you have your own server on the web.</p>
        <h4>Aggregate Credentials</h4>
        <p>
          <label for="aggregateUser">Username</label> <input type="text" id="aggregateUser"/>
          <label for="aggregatePassword">Password</label> <input type="password" id="aggregatePassword"/>
        </p>
        <p><strong>Note:</strong> This is your Aggregate account credentials with Form
          Manager or greater capabilities. The account type in Aggregate has to be ODK,
          not Google. You may leave these blank if your Aggregate instance allows anonymous
          form uploading.</p>
      </div>
      <div class="modalButtonContainer">
        <a class="modalButton aggregateExportButton" href="#export">Export</a>
        <a class="modalButton jqmClose" href="#close">Cancel</a>
      </div>
    </div>

    <div class="modal narrowModal titlelessModal askDialog">
      <div class="modalContents">
        <p></p>
      </div>
      <div class="modalButtonContainer"></div>
    </div>

    <div class="modal narrowModal aboutDialog">
      <h3>About</h3>
      <div class="modalContents">
        <p>
          ODK Build is a form builder for <a href="https://getodk.org/" rel="external">ODK</a>. You are using v<a href="https://github.com/getodk/build/releases/tag/0.4.0" rel="external">0.4.0</a>.
        </p>
        <p>
          Build was created by Issa Tseng in Seattle, Bangalore, Pittsburgh, and 40,000 feet in the air.
        </p>
        <p>
          Need help?
          <a href="http://forum.getodk.org/" rel="external">Ask on the forum</a>.
        </p>
      </div>
      <div class="modalButtonContainer">
        <a class="modalButton jqmClose" href="#close">Done</a>
      </div>
    </div>

    <% if ENV['RACK_ENV'] == 'development' %>
      <script type="text/javascript" src="/javascripts/jquery-1.12.4.js"></script>
      <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>

      <% AssetManager.javascripts.each do |file| %>
        <script type="text/javascript" src="/javascripts/<%= file %>.js"></script>
      <% end %>
    <% else %>
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>

      <script type="text/javascript" src="/javascripts/build.js?<%= AssetManager.build_time %>"></script>
    <% end %>

    <div id="templates">

      <div class="control">
        <div class="controlInfo">
          <div class="typeIcon"></div>
          <a href="#deleteControl" class="icon deleteControl">Delete</a>
          <div class="controlHeadline">
            <h4 class="controlShort"></h4>
            <h5 class="controlLabel"></h5>
            <h6 class="controlHint"></h6>
            <h6 class="controlGuidance"></h6>
          </div>
          <h5 class="controlName"></h5>
          <ul class="controlProperties"></ul>
          <div class="controlSuccessor">
            <div class="controlSuccessorArrow">
              <div class="bend"></div>
              <div class="noSuccessorError">Please add a question to follow up with.</div>
            </div>
            <div class="controlSuccessorCondition">
              Ask the following question if <span></span> is selected:
            </div>
          </div>
        </div>
        <div class="controlFlowArrow"></div>
      </div>

      <div class="gridEditor">
        <div class="gridHeaderContainer">
          <ul class="gridHeader clearfix"></ul>
        </div>
        <div class="gridContainer clearfix">
          <ul class="gridBody clearfix"></ul>
        </div>
      </div>

      <div class="editors">
        <div class="text">
          <h4></h4>
          <input type="text" class="editorTextfield"/>
        </div>

        <div class="bool">
          <label>
            <input type="checkbox" class="editorCheckbox"/>
            <span></span>
          </label>
        </div>

        <div class="numericRange dateRange">
          <label>
            <input id="property_range_enabled" type="checkbox" class="editorCheckbox editorEnabled"/>
            <span></span>
          </label>
          <h5>Minimum</h5>
          <input type="text" class="editorTextfield min"/>
          <input id="property_range_min_inclusive" type="checkbox" class="editorCheckbox inclusive minInclusive inclusiveCtrl"/>
          <label for="property_range_min_inclusive" class="inclusiveCtrl">Inclusive</label>
          <h5>Maximum</h5>
          <input type="text" class="editorTextfield max"/>
          <input id="property_range_max_inclusive" type="checkbox" class="editorCheckbox inclusive maxInclusive inclusiveCtrl"/>
          <label for="property_range_max_inclusive" class="inclusiveCtrl">Inclusive</label>
        </div>

        <div class="uiText">
          <h4></h4>
          <ul class="translations"></ul>
        </div>
          <li class="uiText-translation">
            <h5></h5>
            <input type="text" class="editorTextfield"/>
          </li>

        <div class="enum">
          <h4></h4>
          <select class="editorSelect"></select>
        </div>

        <div class="optionsEditor">
          <a href="#optionsEditorDialog" rel="modal" class="optionsEditorLink">Bulk Edit</a>
          <h4></h4>
          <ul class="optionsList"></ul>
          <a class="addOption" href="#addOption">Add Option</a>
        </div>
          <div class="optionsEditorValueField">
            <h5>Underlying Value</h5>
            <input type="text" class="editorTextfield underlyingValue"/>
          </div>

        <div class="otherEditor">
          <label>
            <input id="other_enabled" type="checkbox" class="editorCheckbox editorEnabled"/>
            <span></span>
          </label>
          <div class="otherValue">
            <h5>Ask if the response is:</h5>
            <select class="editorSelect"></select>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
